{% extends "layout.html" %}

{%block title%}Cover{%endblock%}
{%block content%}
<div id="book-cover">
    <form id="change-page-form" method="POST">
        <img id="coverImage" src="{{ url_for('static', filename='/images/cover.svg') }}" alt="Cover Image">
        <div class="link-container">
            <a href="https://sebastian.studio">
                <img src="../static/images/cover-logo.svg" style="width: 100%;">
            </a>
        </div>
        <div class="page-button">
            <button type="submit"  name="action" value="next">&gt;</button>
        </div>
        <div id="page" style="display: none;">
            <h7>-3</h7>
        </div>
    </form>
</div>
<style>
    #go-author_bio {
        display: none;
    }
</style>
<script type="module" src="{{ url_for('static', filename='js/cover.js') }}"></script>
{%endblock%}
