{% extends "layout.html" %}

{%block title%}Cover{%endblock%}
{%block content%}
<div id="book-cover">
    <form action="{{ url_for('page', page_number=session['page_num'])}}" method="POST">
        <img id="coverImage" src="{{ url_for('static', filename='/images/cover.svg') }}" alt="Cover Image">
        <div class="link-container">
            <a href="https://www.instagram.com/sebastianstudio/">
                <img src="../static/images/insta-logo.png" style="width: 40px;">
            </a>
            <a href="https://sebastian.studio">
                <img src="../static/images/sebastian-studio-logo.png" style="width: 100px;">
            </a>
        </div>
        <div class="page-button">
            <button type="submit"  name="action" value="next">&gt;</button>
        </div>
        <div id="page" style="display: none;">
            <h7>-3</h7>
        </div>
    </form>
</div>
<script type="module" src="{{ url_for('static', filename='js/cover.js') }}"></script>
{%endblock%}
