{% extends "layout.html" %}

{%block title%}AI Mirror{%endblock%}

{%block content%}
<div id="book-container">
    <div id="book">
        <form id="change-page-form" method="POST">
            <div>
                <div id="question">
                    <h6><b>{{ question }}</b></h6>
               </div>
               <div id="answer">
                   <div>{{ answer | safe }}</div>
               </div>
            </div>
            <div id="page">
                <h7>{{ page }}</h7>
            </div>
            <div class="page-buttons">
                <button type="submit"  name="action" value="previous">&lt;</button>
                <button type="submit"  name="action" value="next">&gt;</button>
            </div>
        </form>
    </div>
</div>
<div>
    <form id="chatbot-button">
        <button type="submit" name="action" value="chatbot"><img src="../static/images/ideas-btn-test-3.svg" style="width: 60px;"></button>
    </div>
<div id="chatbot-container">
    <div id="header-section">
        
        <div id="reset-chat">
            <button id="resetButton" type="button" name="action" class="top-chat-buttons"><img src="../static/images/reload-icon.svg" style="width: 20px;"></button>
        </div>            
        <div id="shrink-chat">
            <button id="shrinkButton" type="submit" name="action" class="top-chat-buttons"><img src="../static/images/close-icon.svg" style="width: 30px;"></button>
        </div>
    </div>
    <div id="chatbot-title">
        <h7><img src="../static/images/crowdsourcing-logo.svg" style="width: 450px;"></h7>    
    </div>
    <div id="chat-history">
        <!-- Chat history will be displayed here -->
    </div>
    <div id="input-container">
        <div id="before-chat">
            <form action="/chatbot" method="POST">
                <button type="submit" class="btn starters" name="action" value="client_answer">Add to this answer</button>
                <button type="submit" class="btn starters" name="action" value="client_question">Have a new question?</button>
            </form>
        </div>
        <div id="chat-inputs">
            <form action="/chatbot" method="POST" id="user-input">
                <textarea rows="1" id="userInput" name="userInput" autofocus placeholder="Message"></textarea>
                <button type="submit"   name="action" value="client_input">
                    <img src="../static/images/send-icon.webp" width="18px" title="Message icônes créées par onlyhasbi - Flaticon">
                </button>
            </form>
            <form action="/chatbot" method="POST" id="yes-no-form">
                <button type="submit" class="btn btn-lg yes-button" name="button" value="Yes" >Yes</button>
                <button type="submit" class="btn btn-lg no-button" name="button" value="No" >No</button>
            </form>
        </div>
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{%endblock%}
