<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>{% block title %}{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="header">
        <form id="go-author_bio" action="{{url_for('cover')}}" method="GET">
            <button>
                <img src="../static/book-header.jpg" style="width: 150px;">
            </button>
        </form>
    </div>
    <div id="top-buttons">
        <form id="menu">
            <button id="menu-btn" data-value="open"><img src="../static/hamburger-icon.svg" style="width: 30px;"></button>
            <button id="close-menu-btn" data-value="close" style="font-size: 20px;">&#x2715;</button>
        </form>
        <form id="content-menu">
            <div class="menu-elem">
                <button data-value="elem-1"><b>INTRODUCTION</b></button>
                <button data-value="elem-1">&rarr;</button>
            </div>
            <div style="border: 0.5px solid black; margin-top: 10px; margin-bottom: 10px;"></div>
            <div class="menu-elem">
                <button data-value="elem-2"><b>A CALL TO ADVENTURE</b></button>
                <button data-value="elem-2" class="symbol">+</button>
            </div>
            <div class="menu-sub-elem elem-2">
                <button>INTERRUPTION OF AN ORDINARY LIFE</button>
            </div>
            <div class="menu-sub-elem elem-2">
                <button>START TRAINING TO THINK ABOUT AI</button>
            </div>
            <div class="menu-sub-elem elem-2">
                <button>CONFRONTING RESISTANCE & DENIAL</button>
            </div>
            <div class="menu-sub-elem elem-2">
                <button>THE KEYS TO NAVIGATE AI</button>
            </div>
            <div style="border: 0.5px solid black; margin-top: 10px; margin-bottom: 10px;"></div>
            <div class="menu-elem">
                <button data-value="elem-3"><b>THE NEW AI WORLD</b></button>
                <button data-value="elem-3" class="symbol">+</button>
            </div>
            <div class="menu-sub-elem elem-3">
                <button>JOB MARKETS AND INDUSTRIES</button>
            </div>
            <div class="menu-sub-elem elem-3">
                <button>CREATIVE INDUSTRIES / THE SWORD OF PARADOX</button>
            </div>
            <div class="menu-sub-elem elem-3">
                <button>NEW PARADIGMS IN EDUCATION AND KNOWLEDGE</button>
            </div>
            <div style="border: 0.5px solid black; margin-top: 10px; margin-bottom: 10px;"></div>
            <div class="menu-elem">
                <button data-value="elem-4"><b>CONFLICT</b></button>
                <button data-value="elem-4" class="symbol">+</button>
            </div>
            <div class="menu-sub-elem elem-4">
                <button>RISE OF THE CORPORATE NATIONS </button>
            </div>
            <div class="menu-sub-elem elem-4">
                <button>REVOLUTIONS & CIVIL WARS</button>
            </div>
            <div class="menu-sub-elem elem-4">
                <button>DEATH OF THE HERO</button>
            </div>
            <div class="menu-sub-elem elem-4">
                <button>REBIRTH & TRANSFORMATION</button>
            </div>
            <div class="menu-sub-elem elem-4">
                <button>EPILOGUE / THE AI MIRROR</button>
            </div>
        </form>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
